<div class="progress-info transfer-file"><!--
  --><i class="fa fa-exclamation-circle fa-2x fa-fw"></i><!--
  --><div class="file-progress">
    <span class="name" title="<%= @file.name %>"><%= @file.name %></span>
    <span class="errors"><%= @file.errors.full_messages.first %></span>
  </div><!--
--><a href="#" class="remove">Usuń</a><!--
--></div>
