<div class="transfer-file" data-fid="<%= transfer_file.id %>">
  <span class="name"><%= transfer_file.name %></span>
  <%= link_to t('destroy'), file_path(transfer_file, format: :js), method: :delete, confirm: t('confirm.text'), remote: true %>
</div>
