<div class="transfer-file label" data-fid="<%= transfer_file.id %>">
  <%= link_to raw('&times;'), file_path(transfer_file, format: :js), method: :delete, confirm: t('confirm.text'), remote: true %>
  <span class="name"><%= transfer_file.name %></span>
</div>
