<% if errors.any? %>
  <%- id ||= 'error_explanation' -%>
  <%- class_name ||= nil -%>
  <%= content_tag :div, id: id, class: class_name do %>
    <h3><%= t 'errors.template.header', count: errors.count %></h3>
    <ul>
      <% errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
