<% title t('.title') %>
<% content_for(:buttons) do %>
  <%= link_to fa_icon('user', text: t('.new')), new_user_path(format: :js), data: {remote: true}, class: [:button, :tiny, :secondary] %>
<% end %>
<div class="row collapse">
  <section class="columns small-12">
    <ul class="file-list" id="users-list">
      <%= render @users %>

      <% unless @users.next_page.nil? %>
        <li class="row show-more">
          <div class="columns small-12 text-center">
            <%= link_to t('.more'), url_for(params.merge(page: @users.next_page)), data: {remote: true, type: :script, disable_with: t('.wait', default: "Loading...")} %>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
</div>
