<% title t('.title') %>
<% content_for(:buttons) do %>
  <%= link_to fa_icon('user', text: t('.new')), new_user_path(format: :js), data: {remote: true}, class: [:button, :tiny, :secondary] %>
<% end %>
<div class="row collapse">
  <section class="columns small-12">
    <ul class="file-list" id="users-list">
      <% @users.each do |user| %>
        <%= render(user) %>
      <% end %>
    </ul>
  </section>
</div>
