<% title t('users.show.title') %>

<p id="notice"><%= notice %></p>

<h2><%= @user %></h2>

<dl>
  <% User.showable_attributes.each do |attr| %>
  <dt><%= User.human_attribute_name attr %></dt>
  <dd><%= @user.send attr %></dd>
  <% end %>
</dl>
