@import 'overrides';
@import 'compass/css3/transition';
@import 'compass/css3/opacity';

body {
  color: $primary-color;

  h1, h2, h3, h4, h5, h6, p {
    color: $primary-color;
    small {
      color: $primary-color;
    }
  }
  [data-cover] {
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: $primary-color;

    @include opacity(0);
    @include transition(opacity 2s);

    &.loaded {
      @include opacity(1);
    }


  }

  .row.download {
    > .columns {
      position: relative;
      max-width: em-calc(1024/3);
      padding-top: 1px;
      background: #fff;

      padding-left: 2.5em;
      padding-right: 2.5em;
      padding-bottom: 1em;

      .logo {
        position: absolute;
        margin-top: 2em;
        right: 100%;
        display: block;
        width: 12em;
        margin-right: 2em;

        @media #{$small-only} {
          position: static;
        }

      }
    }
  }

  h1 {
    margin: 1.6em 0 1em 0;
    font-size: 2rem;

    small {
      font-size: .9rem;
      display: block;
      text-transform: uppercase;
      line-height: 1em;
      margin-bottom: .5em;
    }
  }

  h3 {
    font-size: .9rem;
    text-transform:  uppercase;
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
    margin-left: 0;
    font-size: .9rem;
    margin-bottom: 2em;
    max-height: 10*2em;
    overflow: auto;

    li {
      line-height: 1.5em;
      margin-bottom: .5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
  }

  .buttons {
    margin-top: 2em;

    a {
      font-size: 1.5em;

      .fa {
        margin-right: .2em;
      }
    }
  }
}
