@import 'overrides';
@import 'compass/css3/transition';
@import 'compass/css3/opacity';

body.transfers.download {
  color: $primary-color;

  h1, h2, h3, h4, h5, h6, p {
    color: $primary-color;
    small {
      color: $primary-color;
    }
  }

  .row.download {
    > .columns {
      position: relative;
      max-width: 40rem;
      padding-top: 1px;
      background: #fff;

      padding-left: 2.5em;
      padding-right: 2.5em;
      padding-bottom: 1em;

      .logo {
        position: absolute;
        margin-top: 2em;
        right: 100%;
        display: block;
        width: 12em;
        margin-right: 2em;

        @media #{$small-only} {
          position: static;
        }

      }
    }
  }

  h1 {
    margin: 1.6em 0 1em 0;
    font-size: 2rem;
    word-break: break-all;

    small {
      font-size: .9rem;
      display: block;
      text-transform: uppercase;
      line-height: 1em;
      margin-bottom: .5em;
    }
  }

  h3 {
    font-size: .9rem;
    text-transform:  uppercase;
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
    margin-left: 0;
    font-size: .9rem;
    margin-bottom: 2em;
    max-height: 10*2em;
    overflow: hidden;
    // padding-right: 2em !important;

    li {
      max-width: 90%;
      line-height: 1.5em;
      margin-bottom: .5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
  }

  .buttons {
    margin-top: 2em;


    &.double {
      .columns {
        width: 50%;
        @include transition(width 300ms ease-in);


        a {
          span {
            @include transition(font-size 300ms ease-in);
            vertical-align: middle;
            display: inline-block;
            // width: 0;
            overflow: hidden;
            font-size: 0;
          }

        }
      }

      &:hover {
        .download-button {
          width: 25%;
          .fa { margin-right: 0; }
        }

        .save-button {
          width: 75%;
          .fa { margin-right: .2em; }
          span { font-size: 1rem; }
        }

        .download-button:hover {
          width: 75%;
          span { font-size: 1rem; }
          .fa { margin-right: .2em; }
          & + .save-button {
            width: 25%;
            .fa { margin-right: 0; }
            span { font-size: 0; }
          }
        }

      }

      .download-button {
        a {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          padding-left: 1rem;
        }
      }

      .save-button {
        left: -1px;

        a {
          padding-right: 1rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

    }

    a {
      font-size: 1.5em;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;

      span {
        font-size: 1rem;
      }

      .fa {
        vertical-align: middle;
      }
    }
  }
}
