SAKVE_PROD_APPLICATION_DOMAIN: ~

SAKVE_PROD_DB_HOST: ~
SAKVE_PROD_DB_NAME: ~
SAKVE_PROD_DB_USER: ~
SAKVE_PROD_DB_PASS: ~

SAKVE_PROD_SMTP_ADDRESS: ~
SAKVE_PROD_SMTP_PORT: ~
SAKVE_PROD_SMTP_DOMAIN: ~
SAKVE_PROD_SMTP_USER_NAME: ~
SAKVE_PROD_SMTP_PASSWORD: ~
SAKVE_PROD_SMTP_AUTHENTICATION: ~
SAKVE_PROD_SMTP_ENABLE_STARTTLS_AUTO: ~
SAKVE_PROD_SMTP_SENDER: ~

SAKVE_DEV_APPLICATION_DOMAIN: localhost:3000

SAKVE_DEV_DB_HOST: ~
SAKVE_DEV_DB_NAME: ~
SAKVE_DEV_DB_USER: ~
SAKVE_DEV_DB_PASS: ~

SAKVE_DEV_SMTP_ADDRESS: ~
SAKVE_DEV_SMTP_PORT: ~
SAKVE_DEV_SMTP_DOMAIN: ~
SAKVE_DEV_SMTP_USER_NAME: ~
SAKVE_DEV_SMTP_PASSWORD: ~
SAKVE_DEV_SMTP_AUTHENTICATION: ~
SAKVE_DEV_SMTP_ENABLE_STARTTLS_AUTO: ~
SAKVE_DEV_SMTP_SENDER: ~

SAKVE_TEST_DB_HOST: ~
SAKVE_TEST_DB_NAME: ~
SAKVE_TEST_DB_USER: ~
SAKVE_TEST_DB_PASS: ~

SAKVE_SIDEKIQ_DEAMON: ~
SAKVE_SIDEKIQ_VERBOSE: ~

SAKVE_REDIS_URL: ~
SAKVE_SECRET_TOKEN: ~