<% url = Sakve::Application.routes.url_helpers %>

(function(window) {
var Helper = {
  split: function ( val ) {
    return val.split( /,\s*/ );
  },
  lastTerm: function ( term ) {
    return Helper.split( term ).pop();
  },
  fileupload_init: function(element, options) {
    if (!options) options = {};
    var value = $(element).data('value');
    $(element).wrap( $('<div>').addClass('fileupload-dropzone') );
    $(element).wrap( $('<div>').addClass('button fileupload-button') );
    $(element).after( $('<span>').text( value ) );
    $(element).fileupload($.extend({
      singleFileUploads: true,
      dataType: 'json',
      dropZone: $(element).parents('.fileupload-dropzone')
    }, options) );
  },
  progress_function: function(e, data) {
    if (data.context) {
      var progress = parseInt(data.loaded / data.total * 100, 10) + "%";
      $('.bar', data.context).css('width', progress)
      $('.progress-value', data.context).text( progress)
    }
  },
  open_dialog: function(id, title, content, options) {
    options = $.extend(options, {
      modal: true,
      close: function( event, ui ) {
        $(this).dialog("destroy").remove();
      }
    });
    html = "<div id=\"" + id + "\" title=\"" + title + "\">" + content + "</div>";
    return $(html).dialog(options);
  }
};

window.Sakve = {
  setup: function() {
    var that = this;
    that.load_templates();

    $('.tags-autocomplete').autocomplete(that.tags_autocomplete_options);

    $('.fileupload').each(function() {
      that.item_upload_init(this);
    });

    $('.transfer-fileupload').each(function() {
      that.transfer_init(this);
    });

    that.folder_creation_init();
    that.file_multiupload_init();
    that.file_transfer_init();
    that.context_menu_init();
    that.translation_tabs_init();
    that.file_list_init();

  },
  reassign_odd_even_rows: function(selector) {
    var cycle = 0;
    $(selector).find('li').each(function() {
      $(this).removeClass('odd').removeClass('even').addClass(cycle % 2 == 0 ? 'odd' : 'even');
      ++cycle;
    });
  },
  load_templates: function() {
    this.templates = {
      upload_progress: Mustache.compile( $('#upload_progress_template').text().trim() ),
      uploaded: Mustache.compile( $('#uploaded_template').text().trim() )
    }
  },
  tags_autocomplete_options: {
    source: function(request, response) {
      $.getJSON( "/tags.json", {
        q: Helper.lastTerm( request.term )
      }, response );
    },
    search: function() {
      var term = Helper.lastTerm( this.value );
      if ( term.length < 1 ) {
        return false;
      }
    },
    focus: function() {
      return false;
    },
    select: function( event, ui ) {
      var terms = Helper.split( this.value );
      terms.pop();
      terms.push( ui.item.value );
      terms.push( "" );
      this.value = terms.join( ", " );
      return false;
    }
  },
  collaborators_autocomplete_options: {
    source: function(request, response) {
      $.getJSON( "/collaborators.json", {
        q: request.term
      }, response );
    },
    select: function( event, ui ) {
      if ( $('#with_' + ui.item.type + '_' + ui.item.id).length == 0 ) {
        $('<li>')
          .append( Sakve.templates[ui.item.type + '_share'](ui.item) )
          .appendTo( $('#share_' + ui.item.type) );
      }
      this.value = '';
      return false;
    }
  },
  collaborators_render_item: function( ul, item ) {
    return $('<li>')
      .append('<a>' + Sakve.templates.collaborator_select( item ) + '</a>' )
      .appendTo( ul );
  },
  transfer_init: function(element) {
      var that = this;
      $( "#slider" ).slider({
        value: 7,
        min: 1,
        max: 31,
        step: 1,
        animate: "fast",
        slide: function( event, ui ) {
          if ( ui.value == 31) {
            $( "#amount" ).val( '\u221e' );
          }
          else {
            $( "#amount" ).val( ui.value );
          }
        }
      });
      $( "#amount" ).val( $( "#slider" ).slider( "value" ) );
      Helper.fileupload_init(element, {
        url: '<%= url.files_path(format: :json) %>',
        add: function(e, data) {
          var group = $(e.target.form).children('.group').first();
          var file = data.files[0];
          data.context = $( that.templates.upload_progress(file) );
          group.append( data.context );
          $("input[type=submit], button", data.form).attr('disabled', true);
          data.submit();
        },
        progress: Helper.progress_function,
        done: function(e, data) {
          var uploaded = $( that.templates.uploaded({
            id: data.result.id,
            name: data.result.name,
            url: data.jqXHR.getResponseHeader('Location')
          }) );
          $('#uploaded-files').append( uploaded );
          data.context.remove();
        },
        stop: function(e) {
          $(this).parents('form').find("input[type=submit], button").attr('disabled', false)
        }
      });
  },
  item_upload_init: function(element) {
      var that = this;
      Helper.fileupload_init(element, {
        add: function(e, data) {
          var group = $(e.target.form).find('#upload-in-progress');
          var file = data.files[0];
          data.context = $( that.templates.upload_progress(file) );
          group.append( data.context );
          data.submit();
        },
        progress: Helper.progress_function,
        done: function(e, data) {
          data.context.fadeOut(function() {
            $(this).remove();
          });
          var url = $('#items-list').data('url');
          $('#items-list').load(url);
        },
        error: function(e, data) {
        }
      });
  },
  folder_creation_init: function() {
    $('#new-folder-dialog').dialog({
      autoOpen: false,
      modal: true,
      width: 500
    });
  },
  folder_creation_open: function() {
    $('#new-folder-dialog').dialog('open');
  },
  file_multiupload_init: function() {
    $('#multiupload-files-dialog').dialog({
      autoOpen: false,
      modal: true,
      width: 600,
      height: 400,
      resizable: false
    });
  },
  file_multiupload_open: function() {
    $('#multiupload-files-dialog').dialog('open');
  },
  file_transfer_init: function() {
    $('#transfer-files-dialog').dialog({
      autoOpen: false,
      modal: true,
      width: 600,
      height: 400,
      resizable: false
    });
  },
  file_transfer_open: function() {
    $('#transfer-files-dialog').dialog('open');
  },
  context_menu_init: function() {

    var contains_action_link = function(key, options) {
      return $('.actions a.' + key, options.$trigger).length == 0
    };

    var execute_action = function(key, options) {
      $('.actions a.' + key, options.$trigger).trigger('click');
    };

    //Folder context menu
    $('.folder-list').contextMenu({
      selector: 'li span',
      callback: execute_action,
      items: {
        open: { name: I18n.t('open'), icon: 'open', disabled: contains_action_link },
        share: { name: I18n.t('share'), icon: 'share', disabled: contains_action_link },
        destroy: { name: I18n.t('destroy'), icon: 'destroy', disabled: contains_action_link }
      },
      animation: { show: 'show', hide: 'hide' }
    });


    //item context menu
    if ($('.file-list').length > 0) $('.file-list').contextMenu({
      selector: 'li',
      callback: execute_action,
      items: {
        show: { name: I18n.t('show'), icon: 'show', disabled: contains_action_link },
        edit: { name: I18n.t('edit'), icon: 'edit', disabled: contains_action_link },
        download: { name: I18n.t('download'), icon: 'download', disabled: contains_action_link },
        share: { name: I18n.t('share'), icon: 'share', disabled: contains_action_link },
        destroy: { name: I18n.t('destroy'), icon: 'destroy', disabled: contains_action_link }
      },
      animation: { show: 'show', hide: 'hide' }
    });
  },
  translation_tabs_init: function() {
    $('.translations-tabs').tabs();
  },
  file_list_init: function() {
    $('.file-list').selectable({
      filter: 'li' 
    });
  },
  open_dialog: Helper.open_dialog
};

})(window);

$(function() {
  Sakve.setup();
});
