<% if can? :create, @item %>
<%= form_tag items_path(format: :json) do %>
<ul class="breadcrumbs">
  <% folders_breadcrumbs(@current_folder).each do |flink| %>
  <li><%= flink %></li>
  <% end %>
</ul>
<section class="group">
  <%= hidden_field_tag 'item[folder_id]', @current_folder.id %>
  <%= file_field_tag('item[object]', multiple: true, class: 'fileupload', data: { value: t('.fileupload', default: 'Select files'), file_upload: true }) %>
</section>
<section class="group" id="upload-in-progress">

</section>
<% end %>

<script id="upload_progress_template" type="text/mustache">
  <div class="field file-progress">
    <span class="name">{{name}}</span>
    <div class="progress">
      <div class="bar" style="width: 0%" ></div>
    </div>
    <span class="progress-value">0 %</span>
  </div>
</script>
<% end %>
