<%-
  html = %{
    <div id="edit-item-dialog" title="#{t('items.edit.title')}">
    #{render 'form'}
    </div>
  }
-%>
var context = Sakve.open_dialog('edit-item-dialog', '<%= t('.title') %>', '<%= j render('form') %>',  <%= {resizable: false, width: 600, height: 300}.to_json.html_safe %>);
$('.tags-autocomplete', context).autocomplete(Sakve.tags_autocomplete_options);

