@mixin custom-checkbox($size: 1.6em, $focus: true) {
input[type=checkbox] {
    @include opacity(0);
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;

    &:checked + i:before {
      content: '\f00c';
    }
  }

  &.checked i:before {content: '\f00c';}
  &.unknown i:before {content: '\f068';}
  @if $focus {
    &:active > i,
    input[type=checkbox]:focus + i {
      box-shadow: 0 0 5px #999;
      border-color: #999;
      background: #fafafa;

    }
  }

  i {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 1em;
    color: #333;
    width: $size;
    height: $size;
    text-align: center;

    &:before {
      display: block;
      position: relative;
      left: -1px;
      font-family: FontAwesome;
      content: '';
    }
  }
}
