.actions button {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 10px;
  float: right;
  padding: 0 30px;
  line-height: 30px;
  width: auto;
  height: 30px;
  color: white;
  background-color: #E6085C;
  border: 0;
  cursor: pointer;
}

td.icon {
  width: 150px;
}
