@import "overrides";
@import "compass/css3/opacity";

$include-html-button-classes: false;
@import "foundation/components/buttons";


label.selectable-checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  input[type=checkbox] {
    @include opacity(0);
    width: 0;
    position: absolute;
    top: 0;
    left: 0;

    &:checked + span {
      @include button($bg: $primary-color, $padding: .5rem);
    }
  }

  span {
    @include button($bg: #fff, $radius: 1em, $padding: .5rem);
  }

  input[type=checkbox]:focus + span {
    box-shadow: 0 0 10px -1px #ddd;
  }

  span:hover {
    background-color: lighten($primary-color, 5%);
    color: #fff;
  }
}

div.logo {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 174px;
  img { max-height: 50px; }
}

label.custom-check-box {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  input[type=checkbox] {
    @include opacity(0);
    width: 0;
    position: absolute;
    top: 0;
    left: 0;

    &:checked + i:before {
      content: '\f00c';
    }
  }

  &.checked i:before {content: '\f00c';}
  &.unknown i:before {content: '\f068';}

  input[type=checkbox]:focus + i {
    box-shadow: 1px 1px 1px #ddd;
  }

  i {
    display: block;
    border: 1px solid #ddd;
    background: #fff;
    width: 1.6em;
    height: 1.6em;
    text-align: center;

    &:before {
      position: relative;
      left: -1px;
      font-family: FontAwesome;
      content: '';
    }
  }
}


.button {
  &.tiny {
    font-size: .8875rem;
    padding-top: .525rem;
    padding-bottom: .525rem;
  }
}
