@import "overrides";
@import "mixins";
@import "compass/css3/opacity";
@import "compass/css3/transition";

$include-html-button-classes: false;
@import "foundation/components/buttons";

body {
  [data-cover] {
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: $primary-color;

    @include opacity(0);
    @include transition(opacity 2s);

    &.loaded {
      @include opacity(1);
    }


  }

}

.fa-stack.transfer-icon {
  .fa-long-arrow-right {
    font-size: 1.6em !important;
    left: 9px;
    top: 4px;
  }
}


label.selectable-checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  input[type=checkbox] {
    @include opacity(0);
    width: 0;
    position: absolute;
    top: 0;
    left: 0;

    &:checked + span {
      @include button($bg: $primary-color, $padding: .5rem);
    }
  }

  span {
    @include button($bg: #fff, $radius: 1em, $padding: .5rem);
  }

  input[type=checkbox]:focus + span {
    box-shadow: 0 0 10px -1px #ddd;
  }

  span:hover {
    background-color: lighten($primary-color, 5%);
    color: #fff;
  }
}

div.logo {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 174px;
  img { max-height: 50px; }
}

label.custom-check-box {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  @include custom-checkbox(1.6em);
  i {
    display: block;
  }
}


.button {
  &.tiny {
    font-size: .8875rem;
    padding-top: .525rem;
    padding-bottom: .525rem;
  }
}

.button.gray {
  background: #f2f2f2;
  color: $primary-color;
  @include transition-property(background, color);

  &:hover, &:focus {
    background: darken(#f2f2f2, 10%);
    outline: none;
  }
  &.checked {
    color: #fff;
    background: $primary-color;

    &:hover, &:focus {
      background: darken($primary-color, 10%);
      outline: none;
    }
  }
}

.progress-info {
  font-size: 0.85rem;
  margin: 0 2em;
  padding: 1.5em 0;
  position: relative;
  > i.fa {
    position: absolute;
    color: $primary-color;
    vertical-align: middle;
    left: 0;
    top:  50%;
    margin-top: -0.5em;
    height: 1em;

  }

  > .file-progress {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    padding-left: 3em;
    .name {
      float: left;
    }

    .errors {
      display: block;
      clear: both;
      font-size: 90%;
      color: $alert-color;
    }

    .progress-value {
      float: right;
    }

    .progress {
      clear: both;
      padding: 0;
      margin: 0;
      height: 1em;
    }
  }

  > .remove,
  > .cancel {
    color: #919191;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: right;
    &:hover, &:focus {
      color: darken(#919191, 10%);
    }
  }

  > .cancel {
    padding-top: 1em;
  }
}
