@import 'overrides';
$include-html-button-classes: false;
@import 'foundation/components/buttons';

input[type=file].fileupload {
  display: none;
}

.fileupload-dropzone {
  border: 5px dashed #DDD;
  background: #EEE;
  margin: 1em auto;
  text-align: center;
}

.fileupload-dropzone > div {
  margin: 5em auto;
}

.fileupload-button input[type=file] {
  display: block;
  float: none;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: inherit;
}

.fileupload-button {
  @include button();
}

.field .progress {
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  border: 1px solid #7d7d7d;
  background-color: #fff;
  height: 20px;
  margin: 10px;
}

.field .progress-value {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 20px;
  line-height: 20px;
  margin: 10px;
}

.field .progress .bar {
  height: 100%;
  background-color: #0085FF;

}

.field span.name {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  margin: 10px 10px 10px 0;
  line-height: 20px;
  text-align: right;
}
