@import 'overrides';
@import 'compass/css3/transform';

.folders-tree {
  font-size: 1.1em;
  width: 0;
  > .columns {
    padding: 0;
  }

  > ul {
    padding: 0 1rem;
    max-width: rem-calc(300);

    > li.folder {
      display: block;
      margin-bottom: 1em;
    }
  }



  ul {
    list-style:  none;
    margin-left: 0;


    >li {
      > span {
        display: block;
        line-height: 1.8em;
        cursor: pointer;

        > a { display: block; }

        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  .folder {
    display: none;
    &.open {
      // display: block;
      > h3,
      > span {
        a i {
          @include transform(rotate(-45deg));
          color: inherit !important;
        }
      }

      > ul > li.folder {
        display: block;
      }
    }

    .fa.fa-caret { width: 1em; color: lighten($body-font-color, 30%); }
    &.not-empty > span > a > .fa.fa-caret:before { content: '\f0da'; }
    &.not-empty > h3 > a > .fa.fa-caret:before { content: '\f0da'; }
    &.open > span > a > .fa.fa-caret:before { content: '\f0d7'; }
    &.open > h3 > a > .fa.fa-caret:before { content: '\f0d7'; }

    @for $i from 1 through 12 {
      &.level-#{$i} > span > a > .fa.fa-caret {
        margin-left: $i*.8em;
      }
    }

    h3, span {

    }
  }

  h3 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 1em;

    > a:hover, > a:focus {
      color: lighten($secondary-color, 10%);
    }
  }

  h3 > a,
  span > a {
    color: #555;

    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;

  }

  li.current > h3 > a,
  li.current > span > a {
    color: $secondary-color;
    i {
      color: inherit !important;
    }
  }




}
