@import 'overrides';
@import 'compass/css3/transition';

body > header {
  background: #fff;
  box-shadow: 0 1px 4px rgba(#181819, .2);
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;

  h1 {
    font-size: 1rem;
    margin: .2em 0;
    height: 100%;
    white-space: nowrap;

    &:after {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  nav {
    > ul {
      list-style: none;
      margin: 0;
      > li {
        display: inline-block;
      }
    }

    &.main-menu {
      padding-left: 0;

      a {
        color: $body-font-color;
        font-family: $header-font-family;
        text-transform: uppercase;
        display: block;
        padding: 1.2em 0;
        margin-right: 2em;

        &:hover, &:focus, {
          // border-bottom-color: $primary-color;
          color: lighten($secondary-color, 10%);
        }
        &.active {
          color: $secondary-color;
        }
      }
    }

    &.user-menu {
      a {
        color: $body-font-color;
        padding: 1.2rem 1rem;
        font-size: 0.75rem;
        line-height: 2em;
        display: block;
        &:hover, &:focus, {
          color: $secondary-color;
        }
      }
    }
  }


}

#search-file {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;

  input[type=text] {
    padding-right: 2rem;
  }

  .search-button {
    line-height: 2.3125rem;
    height: 2.3125rem;
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    color: $primary-color;
    padding: 0;

    &:focus, &:hover {
      outline: 0;
      color: darken($primary-color, 10%);
    }

    .fa {
      font-size: 1.2em;
      padding-top: 0.5em;
      margin-right: .5em;
      margin-left: .5em;
    }
  }
}

.buttons-line {
  .for-all {
    @include transition(margin .45s);
    height: 3.4625rem;
  }
  &.selected .for-all {
    margin-top: -3rem ;
  }
  margin-bottom: 1rem !important;
  height: 2.3125rem;
  overflow: hidden;

  .for-selection {
    ul {
      list-style: none;
      margin: 0;
      font-size: 1em;
      text-align: right;
      > li {
        margin-left: 1em;
        display: inline-block;
      }
    }
  }

}
