@import 'overrides';

body > header {
  background: #333;

  a {
    color: #fff;
  }

  nav {
    > ul {
      list-style: none;
      > li {
        display: inline-block;
      }
    }

    &.main-menu {
      a {
        font-family: $header-font-family;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}
