

ul.file-list {
  list-style: none;
  padding: 0;
}

ul.file-list li {
  display: block;
  padding: 1em;
  background: #eee;
  min-width: 800px;
  cursor: pointer;
}

ul.file-list li.even {
  background: #ddd;
}

ul.file-list li {
  div.select { display: inline-block; width: 10%; }
  div.name { display: inline-block; width: 50%; }
  div.size { display: inline-block; width: 20%; text-align: center; }
  div.date { display: inline-block; width: auto; text-align: center; }
}
