/*
 *= require defaults
 *= require jquery.ui.all
 *= require_self
 */

body { background-color: #f2f2f2; }

.field_with_errors { display: inline-block; color: #a00; font-weight: bold; }

.center-box {
  background-color: #fff;
  margin: 5em auto;
  padding: 2em;
  width: 32em;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0 0 2em #ddd;
}

.center-box .notice,
.center-box .alert {
  background-color: #f88;
  border: 1px solid #a00;
  padding: .5em .5em .5em 2.5em;
  border-radius: .5em;
  margin: .5em 0 1em 0;
  position: relative;
  line-height: 18px;
  color: #000;
}

.center-box .notice {
  background-color: #FE9;
  border: 1px solid #c90;
}

.center-box .notice:before,
.center-box .alert:before {
  content: ' ';
  display: block;
  height: 18px;
  width: 18px;
  margin: 0;
  vertical-align: middle;
  background-image: url('icons.png');
  background-position: 0 -156px;  
  position: absolute;
  top: .5em;
  left: .6em;
}

.center-box .notice > h3,
.center-box .alert > h3 {
  margin: 0 1em .8em 0;
  font-size: 1.2em;
  font-weight: normal;
  border-bottom: 1px solid #a00;
  padding-bottom: .8em;
}

.center-box .notice > h3 {
  border-bottom-color: #fe9;
}

.center-box > h2 {
  margin: 0 0 1em 0;
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid #ccc;
}

.center-box .field {
  margin-bottom: 1em;
}

.center-box .field label {
  display: inline-block;
  width: 9em;
  margin-right: 1em;
  text-align: right;
}

.center-box button {
  display: block;
  width: 10em;
  margin: 2em auto 0  auto;
  padding: 1em;
}

.shared-links {
  margin: 2em 0 0 0;
  text-align: center;
}

.shared-links a {
  text-decoration: none;
  color: #888;
  margin: 0 1em;
}

.shared-links a:hover {
  color: #000;
}
