@import "overrides";
@import "mixins";
@import "compass/css3/opacity";

.row.transfer-box {
  padding: 2rem 1rem 1rem 1rem;
  max-width: rem-calc(700px);
  margin: 0 auto;

  > .columns {
    background: #fff;
    box-shadow: 0 0 5px rgba(#222, .25);
    padding: 2rem 2rem 0 2rem;

  }

}

form#modal-transfer-form {
  .actions,
  .fileupload-dropzone {
    .button {
      font-size: 0.85em;
      min-width: 10em;
    }
  }

  .field > label {
    margin-bottom: .5em;
  }

  .expires-in-field {
    position: relative;
    padding-right: 10em;
    margin-bottom: 1rem;

    label {
      display: inline-block;
      margin: .5em 2em .5em 0;

    }

    #transfer_expires_in_infinity_label {
      position: absolute;
      margin: -0.5*2.3125rem 0 0 ;
      height: 2.3125rem;
      top: 50%;
      right: 0;
      span {
        vertical-align: middle;
      }

      @include custom-checkbox(1.2em, false);
      i {
        margin-right: .3em;
        &:before { left: -2px; }
      }
    }
  }

  .upload-info {
    margin-bottom: 1em;
    font-size: 0.8em;
  }
}

.uploaded-files {
  background: #f2f2f2;
  margin-left: -2rem;
  margin-right: -2rem;
}

.statistics-wrapper {
  max-height: 12rem;
  overflow: auto;
}
