.users-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.users-list li  {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1em;
  background-color: #ddd;
}
.users-list li.even  {
  background-color: #eee;
}

.users-list li.header  {
  background-color: #888;
  color: #fff;
  font-weight: bold;
}

.users-list li > div {
  display: inline-block;
  width: 30%;
}
.users-list li > div.options {
  text-align: center;
}
