@import 'overrides';
@import "mixins";
@import "compass/css3/opacity";

ul#users-list {
  li {
    &.inactive {
      color: lighten($body-font-color, 30%);
    }

    #used-space {
      padding: 0;
      margin: 0;
      margin-top: 20px;
      background-color: #afafaf;
      width: 100px;
      height: 10px;

      #progress-bar {
        z-index: 999;
        background-color: green;
        height: 10px;
        width: 0;

        &.p1 {
          width: 10%;
        }

        &.p2 {
          width: 20%;
        }

        &.p3 {
          width: 30%;
        }

        &.p4 {
          width: 40%;
        }

        &.p5 {
          width: 50%;
        }

        &.p6 {
          width: 60%;
        }

        &.p7 {
          width: 70%;
        }

        &.p8 {
          width: 80%;
        }

        &.p9 {
          width: 90%;
        }

        &.p10 {
          width: 100%;
        }
      }
    }
  }
}

#edit-user form {
  .field:last-child {
    margin-bottom: 1em
  }
}
