<div class="row collapse">
  <%= form_for :selection do |f| %>
  <ul id="search-list" class="file-list">
    <% @folders.each do |folder| %>
      <%= render 'folders/list_folder', folder: folder, f: f %>
    <% end %>
    <%= render @items, f: f %>
  </ul>
  <% end %>
</div>


